<div class="container">
  <div class="ui card">
    <h1>TEAM OF PLAYERS</h1>
    <ul class="list">
      <!-- structural directive  changes the html adding the name in our list-->
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <!-- javascript to take in values -->
      <input
        #addMemberInput
        (input)="onInput(addMemberInput.value)"
        type="text"
        placeholder="Name"
        [value]="newMemberName"
      />
      <!-- event binding when i click something happens-->
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input type="text" placeholder="# of teams " />
      <button>Generate</button>
    </div>

    <div>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
  </div>
</div>
